.homePageWrapper {
  background-color: #22092C;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #352F44;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.home-logo-btn{
  display: flex;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}
/* ------------------------------------------------------------- */
.mainWrap {
  height: 100vh;
  background-color: #22092C;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.aside {
  background: #352F44;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  flex-direction: column;
  width: 92px;
}
.userName {
  margin-top: 10px;
}

.logo {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoText{
  color: #4965a8;
  font-style: italic;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.runCode{
  background-color: #4965a8;
  margin-right: 14px;
  width: 20%;
  margin-top: 6px;
}
.run-code{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}